<%= provide(:title, t "static_page.home.title") %>
<h1><%= t "static_page.home.text1"%>  </h1>
<p> <%= link_to t("static_page.home.link1"), Settings.home.servers.link1 %></p>
<p><%= l Date.today, formats: :long %></p>

