<% provide :title, t("user.index.title") %>
<h1><%= t "user.index.title" %></h1>
<%= paginate @users, theme: Settings.paginate_theme %>
<ul class="users">
  <%= render @users %>
</ul>
<%= paginate @users, theme: Settings.paginate_theme %>
